.indiaLivesFonts{
	font-family: calibri,Arial;
}

a.propertyLink:link {
		
		cursor: hand;
		text-decoration: none;
		font-family: "calibri;Arial";
	    font-size: 14px;	    
}
a.propertyLink:hover 
	{	   
	   text-decoration: none;
	   font-family: "calibri;Arial";
	   font-size: 14px;	  
	    
	}

a.propertyLink:visited
	{		
		
		text-decoration: none;
		font-family: "calibri;Arial";
	    font-size: 14px;	    
	}
	
a.propertyLink:active
	{		
		text-decoration: none;
		font-family: "calibri;Arial";
	    font-size: 14px;
	   
	}
	