.indiaLivesFontsForHeader{
	font-family:calibri,Arial;	
}

.indiaLivesFonts{
	font-family:calibri,Arial;
	font-size: 16px;
}

.formFonts{
	font-family:calibri,Arial;
	font-size: 14px;
}

a.ContenthLink:link {
		color: RGB(50,50,50);
		cursor: hand;
		text-decoration: none;
		font-family: "Calibri,Arial";
	    font-size: 16px;
}
a.ContenthLink:hover 
	{
	   color: RGB(50,50,50);
	   text-decoration: none;
	   font-family: "Calibri,Arial";
	   font-size: 16px;
	   font-weight: bold;
	    
	}

a.ContenthLink:visited
	{
		color: RGB(50,50,50);
		text-decoration: none;
		font-family: "Calibri,Arial";
	    font-size: 16px;
	    
	}
	
a.ContenthLink:active
	{
		color: RGB(50,50,50);
		text-decoration: none;
		font-family: "Calibri,Arial";
	    font-size: 16px;
	
	   
	}
	


.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#888; margin:0 5px;}
.b2 {height:1px; background:#ddd; border-right:2px solid #888; border-left:2px solid #888; margin:0 3px;}
.b3 {height:1px; background:#ddd; border-right:1px solid #888; border-left:1px solid #888; margin:0 2px;}
.b4 {height:2px; background:#ddd; border-right:1px solid #888; border-left:1px solid #888; margin:0 1px;}
.contentb {background: #ddd; border-right:1px solid #888; border-left:1px solid #888;}
.contentb div {margin-left: 5px; margin-top: 0px;}


.a1, .a2, .a3, .a4{font-size:1px; overflow:hidden; display:block;}
.a1 {height:1px; background:#888; margin:0 5px;}
.a2 {height:1px; background:#ddd; border-right:2px solid #888; border-left:2px solid #888; margin:0 3px;}
.a3 {height:1px; background:#fff; border-right:1px solid #888; border-left:1px solid #888; margin:0 2px;}
.a4 {height:2px; background:#fff; border-right:1px solid #888; border-left:1px solid #888; margin:0 1px;}
.contenta {background: #fff; border-right:1px solid #888; border-left:1px solid #888;}
.contenta div {margin-left: 5px;}


tr.even {
	background-color: #ddd;
}

tr.odd {
background-color: #fff;
}

.T1{
	font-family: "Calibri";
	font-size: 14px;
	font-weight: normal;
    background-color:red;	
}
.T2{
	font-family: "Calibri";
	font-size: 14px;
	font-weight: normal;
    background-color:none;	
}

.scroll
{
	overflow:auto;
	position:relative;
	width: 100%;
	height: 100%;
}

 .Error{
 
 	font-family: "calibri;Arial";
	text-align: center;
	font-size: 20px;
	
}
.evenRow{
	
	background-color:;
	font-family: "calibri;Arial";
	text-decoration: none;
	
}

.tableBgColor{
	background-color: rgb(100,100,100);
	border: 1px;
	border-style: ridge;
	
}

.trColor{
	background-color: rgb(200,200,200);
	font-family:calibri,Arial;
	font-size: 16px;
}

.evenTr{
	background-color: white;
}
.oddTr{
	background-color: rgb(200,200,200);
}